<!doctype html>
<html lang="en" ng-app="myapp">

<head>
  <meta charset="UTF-8">
  <title>Go</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/cyborg/bootstrap.min.css">
</head>


<body ng-controller="MainCtl">

  <div class="jumbotron">
    <h1>Bookshelf</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 well">
        <h3>Books</h3>
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{active: b.title == selected.title}" ng-repeat="b in books">
            <a href="" ng-click="get($index)">{{b.title}}</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6" ng-show="selected">
        <h2>{{selected.title}}</h2>
        <dl class="dl-horizontal">
          <dt>Author:</dt>
          <dd>{{selected.author}}</dd>
        </dl>
      </div>

      <div class="col-sm-3" ng-show="selected">
      </div>
    </div>
  </div>

  <script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>

  <script>
    var myapp = new angular.module("myapp", ["ngResource"]);

    myapp.controller("MainCtl", ["$scope", "$resource", function ($scope, $resource) {

      var Book = $resource("/books/:id", { id: '@id' }, {});

      $scope.selected = null;

      $scope.list = function (idx) {
        Book.query(function (data) {
          $scope.books = data;
          if (idx != undefined) {
            $scope.selected = $scope.books[idx];
            $scope.selected.idx = idx;
          }
        }, function (error) {
          alert(error.data);
        });
      };

      // Get all.
      $scope.list();

      // Get by Id.
      $scope.get = function (idx) {
        Book.get({ id: $scope.books[idx].id }, function (data) {
          $scope.selected = data;
          $scope.selected.idx = idx;
        });
      };

    }]);
  </script>
</body>

</html>